.section__title {
    font-size: 69px;
    font-weight: medium;
    color: #9a9a9a;
    text-transform: uppercase;
    line-height: 60px;
}

.section__subtitle {
    font-size: 27px;
    font-weight: 300;
    color: #9a9a9a;
}

.section__above {
    width: 332px;
    height: 419px;
}

@media screen and (min-width: 992px) {
    .section {
        height: 100vh;
        padding: 20px 150px;
    }

    .section__thumbnail {
        z-index: 99999;
    }

    .section__above {
        width: 306px;
        height: 348px;
        margin-right: -65px;
    }

    .section__img {
        width: 420px;
        height: 568px;
    }
}

@media screen and (min-width: 1600px) {
    .section__above {
        width: 426px;
        height: 548px;
        margin-right: -95px;
    }

    .section__img {
        width: 541px;
        height: 700px;
    }
}

@media screen and (min-width: 1800px) {
    .section__above {
        width: 466px;
        height: 588px;
        margin-right: -95px;
    }

    .section__img {
        width: 661px;
        height: 918px;
    }

    .section__title {
        font-size: 104px;
        line-height: 90px;
    }

    .section__subtitle {
        font-size: 40px;
    }
}
