.banner {
    height: 100vh;
    width: 100vw;
    background: url('/public/assets/images/MOBILE/I1.jpg') no-repeat top;
    background-size: cover;
}

.banner__wrapper {
    padding-bottom: 72px;
}

.banner__title {
    margin-bottom: 30px;
    width: 323px;
    height: 88px;
}

.info__line,
.info__text {
    display: none;
}

.logo_premium {
    display: none;
}

.additional_text .info__line,
.additional_text .info__text {
    display: block;
    font-size: 16px;
    color: #9a9a9a;
    font-weight: lighter;
}

.additional_text .info__line {
    position: relative;
    margin: 0 auto;
    width: 80px;
    background-color: #9a9a9a;
    height: 1.5px;
    opacity: 90%;
    border: none;
    border-radius: 15px;
}

@media screen and (min-width: 840px) {
    .banner {
        position: relative;
        background-image: url('/public/assets/images/DESKTOP/I1.jpg');
    }

    .logo_premium {
        display: block;
        position: absolute;
        top: 40px;
        right: 42px;
        width: 107px;
        height: 180px;
    }

    .info__line,
    .info__text {
        display: block;
    }

    .banner__info {
        width: 580px;
    }

    .banner__title {
        margin-bottom: 17px;
        width: 581px;
        height: 141px;
    }
    .banner__wrapper {
        padding-bottom: 0;
        padding-left: 40px;
    }
    .info__line {
        position: relative;
        width: 150px;
        background-color: #ffffff;
        height: 1px;
        opacity: 90%;
        border: none;
        border-radius: 10px;
    }
    .info__text {
        width: 581px;
        font-size: 20px;
        color: #ffffff;
        font-weight: lighter;
        letter-spacing: 0px;
        margin-bottom: 60px;
        padding: 0px 57px;
    }
}

@media screen and (min-width: 1246px) {
    .logo_premium {
        top: 88px;
        right: 84px;
        width: 147px;
        height: 220px;
    }

    .banner__info {
        width: 881px;
    }

    .banner__title {
        margin-bottom: 30px;
        width: 881px;
        height: 241px;
    }
    .banner__wrapper {
        padding-left: 72px;
    }
    .info__line {
        width: 200px;
    }
    .info__text {
        width: 588px;
        font-size: 24px;
        color: #ffffff;
        font-weight: lighter;
        letter-spacing: 0px;
        margin-bottom: 87px;
        padding: 0px 0px;
    }
}
