@media screen and (min-width: 992px) {
    .collection__imgMain {
        width: 553px;
        height: 100vh;
    }
    .collection__item {
        width: 205px;
        height: 285px;
        object-position: top;
    }
    .collection__button {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 1550px) {
    .collection__imgMain {
        width: 683px;
    }

    .collection__item {
        height: 355px;
    }
}

@media screen and (min-width: 1800px) {
    .collection__imgMain {
        width: 793px;
    }

    .collection__item {
        width: 405px;
        height: 475px;
    }
}
